// Place all the styles related to the Trending controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$pink-dark: #8F556F;
$pink-light: #ED9CA1;

.trending-list {
  display: flex;
  & .language {
    text-align: center;
    & h4 {
      font-size: 18px;
      color: $pink-dark;
    }
    & h3 {
      font-size: 18px;
      color: $pink-light;
    }
    & .material-icons {
      top: 7px;
      position: relative;
      margin-right: 5px;
    }
    & span {
      background-color: red;
      border-radius: 5px;
      color: white;
      width: 100px;
      display: inline-block;
      margin-top: 10px;
    }
  }
}

.most-popular {
  font-size: 24px;
  padding: 10px;
  color: white;
  background-color: rgba($pink-light, .8);
  text-transform: uppercase;
}
